{% extends "base.html" %}
{% load static %}
{% block title %}
    Home - Traditional Cuisine
{% endblock %}
{% block body %}

    {% include "header.html" %}

    <div class="uk-margin uk-margin-right uk-margin-left uk-grid">
        <table class="uk-table">
            <caption class="uk-text-center">
                <p>Traditional Regional Recipe Website made for Garage48 Hackathon Yerevan 2017
                </p>
                <p><a href="https://www.facebook.com/Hamegh-191795888066171/">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    Find us on Facebook!</a>
                </p>
                <img src="/media/team.jpg">
                <h1>Our Team</h1>
            </caption>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tamara Bezlyudova</td>
                    <td>Տուն տանելու աղջիկ, Project Management, Idea owner</td>
                </tr>
                <tr>
                    <td>Babken Vardanyan</td>
                    <td>Coding</td>
                </tr>
                <tr>
                    <td>Neses Gevorgyan</td>
                    <td>Coding</td>
                </tr>
                <tr>
                    <td>Mari Gasparayan</td>
                    <td>Project Management, Product Owner</td>
                </tr>
                <tr>
                    <td>Andreas Yanikian</td>
                    <td>Web Design</td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
