{% extends "base.html" %}
{% block title %}
    Recipe Details - Traditional Cuisine
{% endblock %}
{% block body %}
    <div class="uk-container uk-container-small">
        <h1>{{ recipe.name }}</h1>
        <p>{{ recipe.description }}</p>
        <p>This recipe is from {{ recipe.location.region }}, {{ recipe.location.country }}.</p>
        <h2>Ingredients</h2>
            <ul>
                {% for ingredient in recipe.ingredients.all %}
                    <li>{{ ingredient.name }}</li>
                {% endfor %}
            </ul>
        <h2>Steps</h2>
        <ul data-uk-accordion>
            {% for step in steps %}
                <a href="{% url "core:step" step.recipe.id step.order %}">
                    <li class="uk-open">
                        <h3 class="uk-accordion-title">{{ step.order }}</h3>
                        <div class="uk-accordion-content">
                            <p>{{ step.description }}</p>
                        </div>
                    </li>
                </a>
            {% endfor %}
        </ul>
        {% if recipe.youtube %}
            <p><a href="{{ recipe.youtube }}">Youtube Video</a></p>
        {% endif %}
    </div>
{% endblock %}