{% extends "base.html" %}
{% block title %}
    Recipe Details - Traditional Cuisine
{% endblock %}
{% block body %}
    {% include "header.html" %}

    <div class="uk-container uk-container-large uk-margin-bottom">
        <div class="uk-inline uk-width-1-1 uk-light">
            {% if recipe.picture %}
                <img src="{{ recipe.picture.url }}" class="uk-width-1-1">
            {% endif %}
            <div class="uk-position-center">
                <h1 style="font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;">
                    {{ recipe.name }}
                </h1>
            </div>
            <div class="uk-position-bottom uk-text-center uk-margin-large-bottom">
                <h3>
                    {{ recipe.description }}
                </h3>
            </div>
            <div class="uk-position-bottom-left uk-margin-">
                <h5 class="uk-margin-left">
                    {% for location in recipe.location.all %}
                        {{ location.region }}, {{ location.country }}
                    {% endfor %}
                </h5>
            </div>
        </div>

        <h2>Ingredients</h2>
            <ul>
                {% for ingredient in recipe.ingredients.all %}
                    <li>{{ ingredient.name }}</li>
                {% endfor %}
            </ul>
        <h2>Steps</h2>
        <ul data-uk-accordion>
            {% for step in steps %}
                <a href="{% url "core:step" step.recipe.id step.order %}">
                    <li class="uk-open">
                        <h3 class="uk-accordion-title">{{ step.order }}</h3>
                        <div class="uk-accordion-content">
                            <p>{{ step.description }}</p>
                        </div>
                    </li>
                </a>
            {% endfor %}
        </ul>
        {% if recipe.youtube %}
            <p><a href="{{ recipe.youtube }}">Youtube Video</a></p>
        {% endif %}
    </div>
{% endblock %}