{% extends "base.html" %}
{% block title %}
    Recipe Details - Traditional Cuisine
{% endblock %}
{% block body %}
    {% include "header.html" %}

    <div class="uk-inline uk-width-1-1 uk-light">
        {% if recipe.picture %}
            <img src="{{ recipe.picture.url }}" class="uk-width-1-1">
        {% endif %}
        <div class="uk-position-center">
            <h1 style="font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;"
                class="uk-margin-large-bottom">
                {{ recipe.name }}
            </h1>
        </div>
        <div class="uk-position-bottom uk-text-center uk-margin">
            <h3>
                {{ recipe.description }}
            </h3>
        </div>
        <div class="uk-position-bottom-left uk-margin-left">
            <h5>
                {% for location in recipe.location.all %}
                    <span class="uk-badge">{{ location.region }}, {{ location.country }}</span>
                {% endfor %}
            </h5>
        </div>
        <div class="uk-position-bottom-right uk-margin-right">
            <h5>
                Time required: <span class="uk-badge">{{ recipe.minutes }} minutes</span>
            </h5>
        </div>
    </div>


    <div class="uk-container uk-container-large uk-margin-bottom uk-margin-top">
        <div class="uk-grid-small uk-grid-match uk-margin" data-uk-grid>
            <div class="uk-width-1-4">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header" style="border-bottom: 2px solid #A71E20">
                        <h2 class="uk-card-title"><b>Ingredients</b></h2>
                    </div>
                    <div class="uk-card-body">
                        <ul>
                            {% for ingredient in recipe.ingredients.all %}
                                <li>{{ ingredient.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="uk-width-3-4">
                <div class="uk-card uk-card-default">
                    <div class="uk-card-header" style="border-bottom: 2px solid #A71E20">
                        <h2 class="uk-card-title"><b>Directions</b></h2>
                    </div>
                    <div class="uk-card-body">
                        <ul style="list-style: none;">
                            {% for step in steps %}
                                <li class="uk-open uk-margin-medium-bottom">
                                    <p><span class="uk-badge"
                                          style="
                                          min-width: 42px;
                                          height: 42px;
                                          font-size: 1.875rem;
                                          background: #A71E20;
                                          margin-right: 20px;" class="margin-right">
                                        {{ step.order }}
                                    </span>
                                    {{ step.description }}</p>
                                    <p style="text-align: right;">{% if step.time %}
                                        ({{ step.time }}
                                        minutes
                                        ){% endif %}</p>
                                    <div>
                                        {% if step.picture %}
                                            <img src="{{ step.picture.url }}" class="uk-width-1-1">
                                        {% endif %}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {% if recipe.youtube %}
            <p><a href="{{ recipe.youtube }}">Youtube Video</a></p>
        {% endif %}

    </div>
{% endblock %}