<div class="uk-panel uk-background-default"
     style="background-image: url(/media/header-background.png);">
    <a href="{% url "core:home" %}">
        <img src="/media/hamegh-icon.png" class="uk-logo uk-margin-medium-left" alt=""
             width="145px">
    </a>
    <form class="uk-search uk-search-default uk-align-right uk-position-small
        uk-position-center-right uk-overlay-default uk-margin-medium-right">
        <span class="uk-search-icon-flip" data-uk-search-icon></span>
        <input class="uk-search-input uk-width-large" type="search" placeholder="Search...">
    </form>
</div>
