<div style="height: 40px"></div>
<div class="uk-panel uk-background-default" style="height: 100px">
    <a href="{% url "core:home" %}" class="uk-position-center">
        <img src="/media/hamegh-icon.png" class="uk-logo" alt=""
             width="185px">
    </a>
    <form class="uk-search uk-search-default uk-align-right uk-position-small
        uk-position-center-right uk-overlay-default uk-margin-medium-right">
        <span class="uk-search-icon-flip" data-uk-search-icon></span>
        <input class="uk-search-input uk-width-large" type="search" placeholder="Search...">
    </form>
</div>
<div style="height: 40px"></div>
