{% extends "base.html" %}
{% load static %}
{% block title %}
    Home - Traditional Cuisine
{% endblock %}
{% block body %}
    <div class="uk-inline uk-margin uk-width-1-1">
        <img src="/media/header-background.png" height="1250" alt="" class="uk-width-1-1">

        <div class="uk-position-center uk-flex uk-flex-middle">
            <img src="/media/hamegh-icon.png" width="150"/>
        </div>

        <div class="uk-container uk-container-small uk-margin-xlarge uk-position-top-center
        uk-overlay uk-overlay-default">

            <div id="header" data-uk-grid>
                <div>
                </div>
            </div>

            <form class="uk-search uk-search-default uk-align-right">
                <span data-uk-search-icon></span>
                <input class="uk-search-input" type="search" placeholder="">
            </form>

            {% for recipe in recipes %}
                <a href="{% url "core:detail" recipe.id %}">
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="{{ recipe.picture }}" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">{{ recipe.name }}</h3>
                            <p>{{ recipe.description }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}


        </div>
    </div>


{% endblock %}
