{% extends "base.html" %}
{% load static %}
{% block title %}
    Home - Traditional Cuisine
{% endblock %}
{% block body %}

    {% include "header.html" %}

    <div class="uk-margin uk-margin-right uk-margin-left uk-grid">
        <div id="map" class="uk-width-3-5" style="height: 40em;"></div>
        <div class="uk-width-2-5">
            {% for recipe in recipes %}
                <a href="{% url "core:detail" recipe.id %}">

                    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin"
                         uk-grid>
                        {% if recipe.picture %}
                            <div class="uk-card-media-left uk-cover-container">
                                <img src="{{ recipe.picture.url }}" alt="" uk-cover>
                                <canvas width="600" height="400"></canvas>
                            </div>
                        {% endif %}
                        <div>
                            <div class="uk-card-body uk-padding-small">
                                <h3 class="uk-card-title">{{ recipe.name }}</h3>
                                <p>{{ recipe.description|slice:":50" }}...</p>
                            </div>
                        </div>
                    </div>

                </a>
            {% endfor %}
        </div>
    </div>

    <script>

        function initMap() {

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: {lat: 40.1, lng: 45.}
            });

            var locations = [
                {
                    pos: {lat: 40.18, lng: 44.51},
                    name: 'Yerevan, Armenia',
                    descr: 'Yerevan, Armenia',
                    link: '/detail/1/'
                },
                {
                    pos: {lat: 40.7844531, lng: 43.8703652},
                    name: 'Gyumri, Armenia',
                    descr: 'Gyumri, Armenia',
                    link: '/detail/2/'
                },
                {
                    pos: {lat: 40.8160519, lng: 44.50489},
                    name: 'Vanadzor, Armenia',
                    descr: 'Vanadzor, Armenia',
                    link: '/detail/3/'
                },
                {
                    pos: {lat: 39.2121092, lng: 46.3966627},
                    name: 'Kapan, Armenia',
                    descr: 'Kapan, Armenia',
                    link: '/detail/4/'
                },
                {
                    pos: {lat: 40.3546108, lng: 45.2020519},
                    name: 'Gavar, Armenia',
                    descr: 'Gavar, Armenia',
                    link: '/detail/5/'
                },
                {
                    pos: {lat: 39.759131, lng: 46.7306898},
                    name: 'Shushi, Armenia',
                    descr: 'Shushi, Armenia',
                    link: '/detail/6/'
                },
                {
                    pos: {lat: 59.437194, lng: 24.7117272},
                    name: 'Tallinn, Estonia',
                    descr: 'Tallinn, Estonia',
                    link: '/detail/7/'
                }
            ];

            var markers = [];
            var infowindow = [];

            for (i = 0; i < locations.length; i++) {
                var marker = new google.maps.Marker({
                    position: locations[i]['pos'],

                });

                var contentString = '<div id="content"><h1>' + locations[i]['name'] +
                    '</h1><p>' + locations[i]['descr'] + ' <a href="' + locations[i]['link'] + '">link</a></p></div>';

                infowindow.push(new google.maps.InfoWindow({
                    content: contentString
                }));

                markers.push(marker);
            }

            for (let i = 0; i < locations.length; i++) {
                markers[i].addListener('click', function () {
                    infowindow[i].open(map, this);
                });
            }

            // Add some markers to the map.
            // Note: The code uses the JavaScript Array.prototype.map() method to
            // create an array of markers based on a given "locations" array.
            // The map() method here has nothing to do with the Google Maps API.
            //var markers = locations.map(function(location, i) {

            //});


            // Add a marker clusterer to manage the markers.
            var markerCluster = new MarkerClusterer(map, markers,
                {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
        }

    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0u9MelcVNyb-Atf319FeQRNoEvcZktwM&callback=initMap">
    </script>

{% endblock %}
