{% extends "base.html" %}
{% block title %}
    Home - Traditional Cusine
{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
    <div class="uk-container uk-container-small">
        this is home
        <form class="uk-search uk-search-default uk-align-right">
            <span uk-search-icon></span>
            <input class="uk-search-input" type="search" placeholder="">
        </form>

        {% for recipe in recipes %}
            <div class="uk-card uk-card-default">
                <div class="uk-card-media-top">
                    <img src="https://getuikit.com/docs/images/light.jpg" alt="">
                </div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title">{{ recipe.name }}</h3>
                    <p>{{ recipe.short_description }}</p>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}
