<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Marker Clustering</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 400px;
        width: 800px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>

      function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 3,
          center: {lat: -28.024, lng: 140.887}
        });

        var locations = [
          {
             pos: {lat: -31.563910, lng: 147.154312},
             name: 'AAAA',
             descr: 'Descr',
             link: '/'
          },
          {
             pos: {lat: -32.563910, lng: 147.154312},
             name: 'BBB',
             descr: 'Descr',
             link: 'www.ee'
          }
        ];

        var markers = [];

        for (i = 0; i < locations.length; i++) {
      //    alert (locations[i]);
          var marker = new google.maps.Marker({
            position: locations[i]['pos'],

          });

          var contentString = '<div id="content"><h1>'+locations[i]['name'] +
              '</h1><p>'+locations[i]['descr']+' <a href="'+locations[i]['link']+'">link</a></p></div>';

          var infowindow = new google.maps.InfoWindow({
             content: contentString
           });

          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });

          markers.push(marker) ;
        }

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        //var markers = locations.map(function(location, i) {

        //});



        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }

    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0u9MelcVNyb-Atf319FeQRNoEvcZktwM&callback=initMap">
    </script>
  </body>
</html>
